# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.venv

sandbox/

_output.docx
userDocumentTable.json
*__pycache__/


# Ignore all documents files that are not in data
*.pdf
*.docx
*.formFields.json
*.metadata.json

# But do not ignore PDFs in the data directory
!data/*.pdf
!data/*.docx